[2016-03-23 12:41] roysG opened #1 "i get error"
Uncaught ReferenceError: AdvancedGeolocation is not defined(…)

it is hapenning when i try to run the code:

 AdvancedGeolocation.start(function(success){

        try{
            var jsonObject = JSON.parse(success);
            console.log("aa:",jsonObject);
        }
        catch(exc){
            console.log("Invalid JSON: " + exc);
        }
    },
    function(error){
        console.log("

[2016-03-23 14:36] andygup commented on #1
Hi, that error typically means one of two things. Make sure you are running AdvancedGeolocation after the [`deviceready`](https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/sample/map.js#L15) event. Also make sure the plugin is installed using the CLI (Command Line Interface) command `cordova plugin ls`.

[2016-03-23 14:40] roysG commented on #1
i ran the command and i found the plugin as installed:

"cordova-plugin-advanced-geolocation 0.1.0 "Cordova Advanced Geolocation Plugin - Android"

I also run this command after device is ready.

What can be the problem ?

[2016-03-23 14:46] andygup commented on #1
The error means the plugin isn't visible within the scope of your Javascript code. It's not a problem with the plugin, itself.

Have you tried running the sample app included with this repo? Instructions are in the README.

[2016-03-23 14:48] roysG commented on #1
i try to running this code from debugger chrome console

[2016-03-23 14:52] andygup commented on #1
I also recommend hooking up your phone to the Android Studio native debugger when doing Cordova development. The debug messages in the Android Studio console might provide other important clues as to what's going on.

[2016-03-23 14:56] roysG commented on #1
i also tried implement the code inside my project and call the function, but same error.

My system info:

Your system information:

Cordova CLI: 5.3.3
Ionic Version: 1.2.4-nightly-1917
Ionic CLI Version: 1.7.8
Ionic App Lib Version: 0.6.4
ios-deploy version: 1.7.0
ios-sim version: 5.0.1
OS: Mac OS X Yosemite
Node Version: v4.2.2
Xcode version: Xcode 6.4 Build version 6E35b

[2016-03-23 15:06] andygup commented on #1
**Recommendation 1** - confirm the Android version as well as the make/model? This plugin only works with Android.
**Recommendation 2** - Install [Android Studio](http://developer.android.com/tools/studio/index.html) and make sure you can see the phone's debugger output. I recommend this anyway as a best practice for doing Cordova development. This is the "only" way to get native debugger informat

[2016-03-23 19:49] roysG commented on #1
Look at my image i attach, and notice to plugin "rateUs"

They added their plugin to window scope, and i identity this plugin in easy.

All the plugins i installed i can find them in window scope, except to your plugin.
Maybe you miss something :( ?

FYI.

[2016-03-23 20:22] andygup commented on #1
Did you complete all three of my recommendations above and if so what were the results for all three?

The most likely reason for this is the plugin isn't starting up correctly. The best way to figure this out is to follow my three recommendations and report back on the answers.

Make sure you are running the app on an Android phone (v5 or newer) and **not an emulator.** This plugin will not work

[2016-03-24 06:33] roysG commented on #1
i will do it and i let you know.

[2016-03-25 15:09] roysG commented on #1
I tried to do what you ask by filter all the log cat to  your package name, but i get no log for that.

adb logcat | grep "com.esri.cordova.geolocation.AdvancedGeolocation"

I also test the adb logcat without filter your package and i got messages.

Please let me know what to do.

[2016-03-25 15:48] andygup commented on #1
1) Please confirm here your model of Android phone and the operating system version?
2) Let me know if you are using the sample app that comes with this repo?
3) Copy and paste all unfiltered logcat messages starting from the geolocation application startup to when it finished loading into a .txt file and attach it here.

Let's see what info that provides. Thank you!

[2016-03-25 15:58] roysG commented on #1
The demp app working for me, i do not know why it is not working in my app, very strange.

Second thing, i was thinking i can get the cells id, can you upgrade the plugin to get all cells id around the device?

This will be awesome!

[2016-03-25 16:32] andygup opened #2 "Provide cell id info"
Investigate including cell id info, for example [GsmCellLocation](http://developer.android.com/reference/android/telephony/gsm/GsmCellLocation.html)

[2016-03-25 16:34] andygup commented on #1
Great suggestion. I opened an enhancement request [here](https://github.com/Esri/cordova-plugin-advanced-geolocation/issues/2) to investigate.

[2016-03-27 15:37] roysG commented on #2
it will be great also to collect the neighbours cells and his info.
But pay attention that in some devices the array of the neighbours return empty array or null and the code need to be change.. :)

[2016-03-28 15:58] andygup commented on #2
Reference: Android SDK [NeighboringCellInfo](http://developer.android.com/reference/android/telephony/NeighboringCellInfo.html)

[2016-04-14 23:01] andygup opened #3 "sample-map.html: PRN undefined"
Looks like a misspelling in `timestamp` on line 87

[2016-04-20 00:01] #3 closed

[2016-04-21 15:41] andygup commented on #2
A note from the Android SDK docs related to NeighboringCellInfo: `This method was deprecated in API level 23. Use (@link getAllCellInfo} which returns a superset of the information from NeighboringCellInfo.`

[2016-04-22 20:09] #2 closed

[2016-05-10 18:07] andygup opened #12 "Cordova Dependencies"
As of Cordova 6.1.0 we can specify Cordova-related dependencies in `package.json`.

[Reference doc](https://cordova.apache.org/docs/en/latest/guide/hybrid/plugins/index.html#specifying-cordova-dependencies)

[2016-05-28 16:19] siddhesh-tamhanekar opened #13 "if gps is not enabled it also doen't provid network based location"
when gps is enabled it provides both data.

[2016-05-31 16:54] andygup commented on #13
Thanks, I'll check it out.

[2016-05-31 17:29] andygup commented on #13
@siddhesh-tamhanekar I wasn't able to reproduce the behavior on a Google Nexus running 6.0.1. I'm wondering if it's specific to a particular phone manufacturer.

Please let me know about each of the following questions:
- Are you using the latest version of this plugin?
- Device make/model?
- Device operating system version?
- Did you see any warnings or errors in AndroidStudio logcat?
- Are you u

[2016-06-01 05:03] siddhesh-tamhanekar commented on #13
Hi andy, Sorry for late reply.

- Did you see any warnings or errors in AndroidStudio logcat?
I am not using androidStudio. just simple cordova cli.

- Are  you using the sample-map.html sample? Or using some other code?
Yes. I have followed instruction given in the
  'https://www.npmjs.com/package/cordova-plugin-advanced-geolocation' and installed plugin from cordova.

- Device

 model : SM-G313H

[2016-06-01 15:18] andygup commented on #13
Gotcha. Please note, as stated in the README this library will only work with Android 5.0 or greater. This is an Android SDK constraint and it may be related to some of your problems.

AndroidStudio and `adb logcat` are the best way to successfully debug Android operating system errors. You can also try using Chrome remote debugging to see if there are any JavaScript errors showing up on the WebVi

[2016-06-06 20:58] andygup commented on #13
I'm going to go ahead and close this. Feel free to post new questions if they come up.

[2016-06-06 20:58] #13 closed

[2016-06-07 04:12] siddhesh-tamhanekar commented on #13
Okay.

On Tue, Jun 7, 2016 at 2:28 AM, Andy <notifications@github.com> wrote:

[2016-07-05 18:40] andygup opened #14 "GnssMeasurement"
Opening this issue as a placeholder for the current Android N developments related to GNSS.

References:

Android SDK - API Level 24 [GnssMeasurement Class](https://developer.android.com/reference/android/location/GnssMeasurement.html)

GPS World June 2016 - [Google opens up GNSS pseudoranges](http://gpsworld.com/google-opens-up-gnss-pseudoranges/)

Rokubun Blog, June 30th 2016 - [First look at An

[2016-07-07 05:37] LucasNova opened #15 "App crashed when Hide/Sleep (Android < 5.0.0)"
Hello, i know you write application for 5.0.0, but on many devices lower version your plugin is work. Unfortunately i can't use this on production, becouse plugin crash my app when user want to hide application or application just sleep. Please resolve an issue, at least make try...catch, ty.

[2016-07-07 14:41] andygup commented on #15
Hi @LucasNova the main challenge is I don't have a < 5.x phone to do any testing so I'm unable to try and replicate an issues you may be seeing.

I can certainly look into disabling certain functionality when it's not supported by the phone. For example, using Cellular Data calls the native method [TelephonyManager.getAllCellInfo()](https://developer.android.com/reference/android/telephony/Telepho

[2016-07-07 14:44] andygup commented on #1
This issue was closed back in March via https://github.com/Esri/cordova-plugin-advanced-geolocation/commit/057228f4fd1d12fc79d2ab72464d88489e23a8f4

[2016-07-07 14:44] #1 closed

[2016-07-13 17:43] andygup commented on #14
Update, GpsStatus is deprecated as of API 24. Use GnnsStatus instead. Reference: https://developer.android.com/reference/android/location/GpsStatus.html

[2016-07-13 18:50] #15 closed

[2016-07-20 04:54] codot91 opened #18 "How To use in ionic ?"
how to use this in ionic ? i try and get eror  advancedgeolocation undefined

[2016-07-20 17:55] andygup commented on #18
Make sure the plugin is installed

The recommended pattern for Cordova plugins is to wait until the platform ready event to fire and then initialize the plugin. Example:

[code]

If `.ready` never seems to fire, then Cordova may be in an inconsistent state. Try removing the plugin and then reinstalling it.

[code]

[2016-07-20 17:55] andygup opened #19 "Check for permissions (Android 6+)"
Due to changes at Android 6.0, users now need to give permissions at run-time rather than at installation time.

Need to add functionality to this plugin that will capture user permissions when device OS is 6.x+ and ignore them when OS < 6.x.

Reference: https://developer.android.com/training/permissions/requesting.html

[2016-07-20 21:52] andygup commented on #19
For versions <= 0.5.1 of this plugin, apps will not show any geolocation when installed on devices using Android 6.x. You'll need to manually go into the app settings and allow geolocation.

You should also see the following errors in Logcat:

[code]

[2016-08-17 19:07] andygup commented on #19
Closed at https://github.com/Esri/cordova-plugin-advanced-geolocation/commit/6079ea6f323eb207bca44cb74f8e58197bba0b4a

[2016-08-17 19:07] #19 closed

[2016-08-24 16:47] andygup commented on #18
@codot91 I'm going to close this out. If anything else comes up feel free to open a new issue.

[2016-08-24 16:47] #18 closed

[2016-08-24 23:39] andygup opened #22 "Fix accidental thread interrupt clearing"
'sendCallback' method in GPS, Cell and Network controllers uses 'Thread.interrupted()' instead of 'Thread.currentThread().isInterrupted()'. Fixing this will remove the possibility of accidentally clearing an interrupt request.

Reference: https://developer.android.com/reference/java/lang/Thread.html#isInterrupted()

[2016-08-24 23:51] #22 closed

[2016-08-31 20:15] andygup opened #24 "noWarn configuration property is pre-M only"
Add documentation note that `noWarn` configuration only applies to pre-Mashmallow versions of Android.

[2016-09-09 16:24] andygup opened #26 "Android OS NullPointerException"
Problem: If you accidentally initialize the plugin twice in a row, it throws a native NullPointerException.

Solution: Need to protect against duplicate request failures in `onRequestPermissionResult ` where `grantResults[]` will be null.

[code]

[2016-09-09 16:26] andygup opened #27 "Investigate adding Dexter support for Android M+ permission handling"
Would love to decouple permission handle from the `Activity`. The built-in Android M permission handling is a total mess.

https://github.com/Karumi/Dexter

[2016-09-09 17:06] andygup opened #28 "LocationManager error on shutdown"
`Failing gracefully after detecting an uncaught exception on GPSController thread. Attempt to invoke virtual method 'android.location.GpsStatus android.location.LocationManager.getGpsStatus(android.location.GpsStatus)' on a null object `

[2016-09-11 21:25] #28 closed

[2016-09-11 21:32] andygup commented on #26
Closed at https://github.com/Esri/cordova-plugin-advanced-geolocation/commit/6fe195a5faf25804ccfb4fe0708a8eb680e75139

[2016-09-11 21:32] #26 closed

[2016-09-12 22:29] andygup opened #31 "Add cell signal strength support"

[2016-09-13 19:26] #24 closed

[2016-09-13 19:26] #31 closed

[2016-09-13 19:51] andygup opened #33 "Minor - remove cell data leakage doc reference"
Code comment in CellLocationProvider (at top of the Class) about cell data leakage is no longer applicable. The plugin now explicitly checks if the controller thread is interrupted before sending data.

Reference: [CellLocationController](https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/controllers/CellLocationController.java#L26)

[2016-09-15 18:36] andygup opened #34 "Change JSONHelper.signalStrengthJSON provider property"
Change provider to `signal_strength`

[2016-09-15 19:06] #34 closed

[2016-09-15 19:16] andygup opened #36 "Add new error callbacks to CellLocationProvider"
Don't start if thread is interrupted: https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/controllers/CellLocationController.java#L135

Unable to provide data due to version restriction: https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/controllers/CellLocationController.java#L175

[2016-10-11 16:13] thomaspons opened #37 "A simple mistake in build process"
It's impossible to install the plugin due to a simple mùistake in plugin.xml the ErrorMessages class is not present

<source-file src="src/com/esri/cordova/geolocation/utils/ErrorMessages.java" target dir="src/com/esri/cordova/geolocation/utils" />

Add this line in the plugin.xml file at line 65 solve the problem.

Best regards,

Thomas

[2016-10-11 17:28] andygup commented on #37
Thanks for the heads-up. I'll take a look.

[2016-10-12 14:34] #33 closed

[2016-10-12 14:34] #37 closed

[2016-10-13 22:46] scarabdesign opened #39 "Errors when targeting Android device"
The plugin works great on the emulator, but targeting my Samsung Galaxy S5 (Android 6.0.1), I'm getting error for all 3 location methods. I'm not sure what to check here:
- `V/ActivityThread: updateVisibility : ActivityRecord{8358ffc token=android.os.BinderProxy@a1b3b27 {com.esri.geo/com.esri.geo.MainActivity}} show : true`
- `D/GeolocationPlugin: GEO PERMISSIONS GRANTED.`
- `D/GeolocationPlugin:

[2016-10-13 23:05] scarabdesign commented on #39
Opps, sorry I made assumptions about how the permissions are being checked. Deleting issue

[2016-10-14 14:44] andygup commented on #39
@scarabdesign thanks, glad you got it.

I've gone ahead and re-opened this issue. When I looked thru the error dump I saw a few issues. The library shouldn't have thrown an uncaught exception on the `CellLocationController` related to `Invalid coordiante value:2147483647`. There's also a minor misspelling in the error message.

I'll take a closer look at that.

And, let me know if there are any im

[2016-10-14 17:33] scarabdesign commented on #39
I was assuming that if location permission was granted it would check if the device also had location services enabled before it attempted to get location data, but it gave errors (codes 120, 122 and 140). However, I can detect those and prompt the user to check if location services is enabled on the device.

Is it possible to detect the device-wide setting and ask the user if they want to turn it

[2016-10-14 18:09] scarabdesign opened #40 "Feature Request: Running service when application is in the background"
I notice the plugin will call onPause when I put the application in the background. However, the application I'm working on is a tracker that returns location information to the central server for the tech/admin teams to locate their drivers. Is it possible to have an option to remove the pause in service?

Also, while I'm asking for things, would it be difficult to put in an optional callback to

[2016-10-14 22:14] andygup commented on #40
I can investigate it, I have a hunch that it's not possible with how I've architected the current handling of Android 6+ permissions. It may have to wait until such time I can outsource permissions handling to a library like [Dexter](https://github.com/Karumi/Dexter).

Also, keep in mind this library isn't architected to work in the background. It's intended to be used as an always-on, primary sen

[2016-10-15 00:08] andygup commented on #39
Thanks for the feedback and questions. This is one area where the docs could use improvement. The library does check for application, manifest and system/device-level permissions.

Errors 120 and 140 are providing a JavaScript error callback indicating the user has deactivated the GPS and Network Location at the device level. You can use these errors to provide feedback to the user within the HTML

[2016-11-22 17:20] #39 closed

[2016-11-22 17:35] andygup opened #41 "Update method modifiers"
Numerous modifiers should be updated. Several context classes were placed in static fields causing memory leaks.

[2016-11-22 23:48] #40 closed

[2016-11-22 23:48] #41 closed

[2016-12-08 20:32] meeximum opened #43 "Angular2 / Ionic2"
Hi, I'm very happy about your plugin!!!!
But I didn't get it working within Ionic2 :-/

[2016-12-08 20:40] andygup commented on #43
@meeximum please provide info on the following:
- Can you clarify what you tried to do? Provide code if possible, or psuedo-code.
- Describe what didn't work as expected?
- Were there any errors and if so can you copy and paste them here?
- Phone operating system and version?

Thanks!

[2016-12-08 21:00] meeximum commented on #43
Hi,

when I run `ionic run android --debug `
I get

[2016-12-08 21:01] meeximum commented on #43
when I run `cordova plugin list`
I get

[2016-12-08 22:04] andygup commented on #43
Here are few thoughts, let me know if these work or not?
- Are you are running the latest version of Cordova 6.x?
- Is your Android API level one of these 21, 22 or 23?
- Is the plugin code running after the platform ready event?

[code]

[2016-12-08 22:18] meeximum commented on #43
Cordova 6.4.0
Android API level 22
Yes, plugin code is running after device ready

...but I do not come that far, because I get the error when tryin to run the code on the device :-/

ionic uses a kind of wrapper for plugins
https://github.com/driftyco/ionic-native

[2016-12-08 22:45] andygup commented on #43
Can you share the code for the component or service you are trying to build?

[2016-12-09 15:16] meeximum commented on #43
you can easiliy reproduce
[code]

[2016-12-09 16:46] andygup commented on #43
Can you clarify you want to be using angular 2?

I just need to know for certain before I look into this. It looks like you are running Angular 1. To use Angular 2 run the command `ionic start test --v2`. Not the command contains a `--v2` option.

One way to verify the angular version is go into your project directory and look under `android\assets\www\lib\ionic\js\angular\angular.js`. Look at the

[2016-12-09 16:51] meeximum commented on #43
yes angular2, the newest version of ionic2 doesn't need the --v2 parameter ;-)

[2016-12-09 16:53] meeximum commented on #43
you are right! Sorry, I missed the --v2 in the example but result is the same :-(

[2016-12-09 17:01] andygup commented on #43
No worries...Gotcha, I'll take a look here shortly.

[2016-12-09 18:31] andygup commented on #43
Here's the full error dump from Android Studio. It's most likely an Ionic problem because the plugin works as designed on stand-alone Cordova.

I'll try to take a look over the next few days, I'm pretty slammed at the moment. Could have something to do with how the library handles Android 6 permissions.

[code]

[2016-12-09 20:37] andygup commented on #43
@meeximum okay, I think I figured it out while taking a coffee break. The `Plugin.xml` file is missing a reference to copy `/model/StopLocation.java` over into the project directory. I replaced the missing file and, tah dah, my app started working.

I'll get that fixed in short order and push a new release.

In the meantime, you can get running again by creating a `StopLocation.java` file under `c

[2016-12-09 21:06] #43 closed

[2016-12-09 23:45] meeximum commented on #43
Wow, great, thx for your quick help and solution!!!!
I will try it with a new example :-)

[2016-12-10 00:02] meeximum commented on #43
Yes, everything is fine :-)
Just another question, what is the best approach for getting just one dataset (coordinates)?
Can I call stop() inside the start function?
I want to implement this behind a function that gives me the actual position back?

best regards
Meex

[2016-12-11 21:25] andygup commented on #43
Awesome, glad it's working again.

Yes, you can call `stop()` inside `start()`. Not sure what your requirements are, but retrieving a single location is very inaccurate. As a minimal approach, I always recommend retrieving coordinates until the accuracy values fall within acceptable parameters. Reference: [http://www.andygup.net/html5-geolocation-api-getting-the-best-single-location/](http://www.a

[2016-12-25 19:21] meeximum commented on #43
Hi Andy,

now as I'm tryin to implement your suggestion to watch the accuracy values, I get stuck :-/
When using Angular2 / Ionic2 environment, I got problmes to reference to variables or events from inside your start function?

[code]

[2017-01-09 18:02] andygup commented on #43
@meeximum sorry for the delay. Any luck with this? Was `start()` returning any data?

[2017-01-09 20:19] meeximum commented on #43
no problem, no success on this, I still face the same problem of scoping :-/ start() works, but it's not possible to get any values back to the this obj.

[2017-01-10 17:51] andygup commented on #43
Gotcha. I'll take a look.

[2017-01-10 20:02] meeximum commented on #43
After further investigation I found a possible solution :-)
I need to bind this explicitly!

[code]

[2017-01-10 20:15] andygup commented on #43
Awesome! I haven't been able to test. The latest Ionic build has some fatal errors on MacOS that prevent it from installing the Android platform.

[2017-02-23 07:32] anup5708 commented on #13
**Still facing this issue**

Just now I added this plugin to my Ionic 2 application and waited for 5 minutes to get network based location but didn't get any update. when I enable GPS it provides me both data i.e., netwok & GPS.

[2017-02-23 15:31] andygup commented on #13
@anup5708 can you clarify, are you setting the `providers` configuration property to `network` and not getting anything back?

Also what model phone and version of Android are you using?

Reference: [API Doc - Configuration Options](https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/api_reference.md#configuration-options-required)

[2017-02-24 16:01] andygup commented on #13
UPDATE for Android 5.x and 6.x. On these versions of the operating system, if you turn off device `Location` that disables all location providers for security reasons. I'm not aware of any device settings that let you disable GPS and leave other location providers active.

You also have to pay attention to `Mode`. There are three settings:

* **High accuracy**
High accuracy mode uses GPS, Wi-Fi, m

[2017-06-11 13:32] fusionstream commented on #1
Sorry for opening a closed issue but I have the same issue. I'm on phoneGap and am new to it. There appears to be 2 copies of the same plugin in ../plugins and ../node_modules relative to my www folder. I'm not particularly new to Javascript so it does sound like a scope issue. I'm just not sure why.

Aside from the folders, this was added to my config.xml
<plugin name="cordova-plugin-advanced-geo

[2017-06-13 00:20] andygup commented on #1
@fusionstream yes, there should be two copies as you described. I'm only using Cordova, so I'm not able to answer PhoneGap specific questions. But in general for this library it shouldn't make a difference as long as you are using the latest version.

When the plugin is installed correctly it will be available under the `window` global namespace. See screenshot below.

This project's [`plugin.xml`

[2017-07-09 23:39] paidTrainee27 opened #49 "Blocking other native plugins"
Hi,
Thanks alot to you for building such a plugin.
Currently I'm Using it along with Ionic 2/3 framework for hybrid application built on cordova and angular
My problem is that the moment I **call for start method** ....I do get the co-ordinates but **other plugins stop working** like for example **Sqlite plugin of cordova**.
Like I 'm using your plugin and sqlite plugin on device ready, but after

[2017-07-10 01:06] andygup commented on #49
Hi, I have two suggestions to try and figure out what's going on the easiest way possible.

First, I recommend trying remote debugging the application, see [this article](https://developers.google.com/web/tools/chrome-devtools/remote-debugging/) for more details.

Second suggestion if you can't get anything useful from remote debugging is to install Android Studio and use the Android Monitor to vi

[2017-07-31 09:50] aashishvyas opened #50 "How to call native method android/ios using typeScript?"

[2017-07-31 10:11] #50 closed

[2017-07-31 14:38] andygup commented on #49
@paidTrainee27 I'm closing this for now. If you have additional information or questions feel free to reopen.

[2017-07-31 14:38] #49 closed

[2017-09-04 21:16] Marcophono2 opened #52 "Neighboring Cell Info"
Hello!

I am very happy with this plugin. It is MUCH faster than the standard geolocation plugin. (by the way it also works on OS 7). The only thing I am missing are informations for the neighbor cell. Is there a trick to add this data too?

Best regards
Marc

[2017-09-04 23:07] Marcophono2 commented on #52
Sorry. I was wrong. The cell infos are not coming in in one array. They come in one by one. In my test app I write the caught data into a div field and didn't realize that the later coming info overwrote the existing ones. It was too fast for my eyes. ;-) Just collecting the data was an easy solution.
Thank you for this wonderful working plugin! As far as I ca say the only one available working so

[2017-09-05 15:36] andygup commented on #52
Glad the plugin helped! Sounds like your question was answered and we close this out?

For others looking for the same info - neighboring cells info is gathered via the Android SDK [TelephonyManager.getAllCellInfo()](https://developer.android.com/reference/android/telephony/TelephonyManager.html#getAllCellInfo()) method. You can find that code in this plugin in the [CellLocationController.java](ht

[2017-09-05 16:02] Marcophono2 commented on #52
Yes, you can close it, thank you! Aside that I receive 2147483647 (32bit max-length) for all values of the neighboring cell. But that seems to be a problem deeper in the TelephonyManager.getAllCellInfo(). I also read that this senseless value points to invalid values sent by the cell itsself but I do not believe that. I found an Android app which was able to locate the neighboring cell correctly w

[2017-09-05 17:55] andygup commented on #52
Yep, that value means there is no valid values being returned. Interesting you had another app that was working since those values are returned by the operating system. I wonder if the other app uses the old [getNeighboringCellInfo()](https://developer.android.com/reference/android/telephony/TelephonyManager.html#getNeighboringCellInfo()) method which was deprecated at v23. That's the only work-ar

[2017-09-05 17:55] #52 closed

[2017-09-15 15:51] mprins commented on #14
Does this issue mean there is an intent to upgrade to a higher (24+) api level? and break backward compatibility of this plugin?

These classes are still present in API 26 and I suspect will be around for a long time to come.
The android docs in eg. the [`<uses-sdk>`](https://developer.android.com/guide/topics/manifest/uses-sdk-element.html) state that applications are generally forward-compatible

[2017-09-15 16:03] andygup commented on #14
Thanks for asking...I'll clarify this issue by saying I'm leaving the plugin as-is for now. I have no immediate plans to updated to 24+.

At the time I opened this, there were questions about handling to devices that implement new GNSS higher-resolution capabilities.

[2017-09-22 22:05] andygup commented on #14
Here's a promising update on the next generation smartphone GPS chips. Broadcom announced that starting in 2018, 'some' phones will have the built-in capability for 30-centimeter accuracy and greater battery savings. Read more  about [here](https://spectrum.ieee.org/tech-talk/semiconductors/design/superaccurate-gps-chips-coming-to-smartphones-in-2018).

[2017-10-02 07:40] mbahojlo opened #53 "Problem to get AdvancedGeolocation object Ionic3"
From the begin... I will start project...
`c:\xampp\htdocs>Ionic start ionicIssueGeo`
`c:\xampp\htdocs>cd ionicIssueGeo`
`c:\xampp\htdocs\ionicIssueGeo>ionic --version`
`3.12.0`
`c:\xampp\htdocs\ionicIssueGeo>cordova -version`
`7.0.1`
`c:\xampp\htdocs\ionicIssueGeo>ionic serve`
![image](https://user-images.githubusercontent.com/5583362/31067337-a4321658-a752-11e7-81f7-e8899c7400e3.png)
Then next t

[2017-10-02 14:40] andygup commented on #53
@mbahojlo Sounds like a scope issues, and you may need to explicitly bind to `this`. For example: https://github.com/Esri/cordova-plugin-advanced-geolocation/issues/43#issuecomment-271682035. Give that a try and let me know if it works?

[2017-10-02 21:38] andygup commented on #53
@mbahojlo I ran a quick test using Ionic 3.12 (latest). The following code worked for me. Note I switched to using `OnInit` and declared `AdvancedGeolocation` as `any`.

[code]

[2017-10-08 05:23] kumarkundan commented on #53
@andygup  .....it's working bro ...thanks , i was searching of something like this from a long time , may be month or so. thanks a lot again

[2017-10-09 14:43] andygup commented on #53
Good deal, I'll go ahead and close this issue.

[2017-10-09 14:43] #53 closed

[2017-10-10 07:52] obbe79 commented on #14
It would be nice to have the possibility to use the new methods in the GNSSMeasurement class (and in general all of the classes in android.location API). Working with pseudoranges opens up a whole new world! Please upgrade the plug-in! :)

[2017-11-10 09:51] kumarkundan opened #57 "Ionic 2 / ionic 3 : unable to get "gps" , "network" and "satellite" ' s provider objects"
This plugin **was working fine for me till yesterday** , and i was using it in one of my ionic2 apps. But suddenly from today it's stopped working . It's not working for any of my 2-3 ionic apps. ealier it was working for all those apps.

On Debugging and checking console , I was surprised that in success of  ` AdvancedGeolocation.start((success)` i was only getting these two types of provider obj

[2017-11-10 18:22] andygup commented on #57
Did you see any native Android errors in [logcat (available via Android Studio)](https://developer.android.com/studio/debug/am-logcat.html) when you started the app? That is always the first thing that I check.

Here are some suggestions:
- Double check that location is enabled for each app
- Run a quick Geolocation test. Open this browser-based test app and see if it returns a location? https://e

[2017-11-20 18:15] rochadsouza opened #58 "Error message after close the App."
Hi,
I'm using Advanced Geolocation and after adding it to my project, when I close the App is displayed an error message saying "[App name] keeps stopping".  It seem a kind of conflict with another plugin because if I turn the Cordova Google Map Plugin off, this issue does not happens.

In ADB logcat I'm having the following errors:

11-20 18:12:00.345  3112  3112 D Layer   : applyEffect ## com.se

[2017-11-20 18:36] andygup commented on #58
There don't seem to be any errors related to this plugin. I'm not familiar with the Cordova Google Map Plugin. It's possible there are some native Android platform event issues between it and this plugin.

Are you calling `AdvancedGeolocation.kill()` in your app?

Can you send a larger adb dump that begins at the [`GeolocationPlugin: onStop`](https://github.com/Esri/cordova-plugin-advanced-geoloca

[2017-11-21 06:36] kumarkundan commented on #57
hii @andygup , today i again checked . now everything is working fine. For your info , i have not changed a single word in my code base.

Now i am getting all the objects in provider , earlier i was getting only `cell_info` and `cell_location` . That means , i was not getting other provider's objects.

I want to ask you this . Whether `**cordova-plugin-advanced-geolocation**` is reliable or not .

[2017-11-21 15:15] rochadsouza commented on #58
Hi @andygup, thank your for your quick answer.

I'm not calling `AdvancedGeolocation.kill()`, and already tied to call `AdvancedGeolocation.stop()` when the app goes to background mode and `AdvancedGeolocation.start(...)` when it comes form background mode - everything goes right till I close the app and open it again, the app start up is slowly and Android OS asks if I want to "Wait for the App".

[2017-11-21 15:53] andygup commented on #58
@rochadsouza I see you closed the issue. Did you figure it out?

[2017-11-21 16:03] rochadsouza commented on #58
Sorry, it was a mistake.

[2017-11-21 16:52] andygup commented on #57
@kumarkundan Given the intermittent nature of the problem, this appears to be an issue with your cell phone provider. For example, the value `2147483647` in the response object tells me that a particular cell phone tower is simply not providing the information you want.

As far as I know, there are generally no international requirements that cellular towers provide any of this information consist

[2017-11-21 18:34] andygup commented on #58
@rochadsouza no worries. It looks like Google Maps is throwing an error because it called `onDestroy()`. That event is then being captured by the AdvancedGeolocation plugin causing a cascade failure. Anything with a capital `E` in the logcat dump is an error:

[code]

When you try to restart the app the Google plugin is trying to [`execute`](https://github.com/mapsplugin/cordova-plugin-googlemaps/

[2017-12-07 02:09] andygup commented on #58
I'm going to close this. If you see additional problems feel free to reopen.

[2017-12-07 02:09] #58 closed

[2017-12-07 02:10] andygup commented on #57
Closing this issue. It's a problem with the cellular service provider.

[2017-12-07 02:10] #57 closed

[2017-12-27 18:49] alejox21 opened #59 "the plugin freezes my app - ionic 3"
Hello, I'm using the plugin in my app for get the gps location timestamp (beacuse I need the real datetime from the place where i'm, independent from the device, and also internet network connection may not be available or possible), the value obtained it's ok, but freezes the app...

ionic 3.19.0
cordova 7.0.1
device: android 5.1

my code: I implemented a service with a function that returns the

[2017-12-28 12:20] alejox21 commented on #59
sorry my bad, hope I edited properly

[2018-01-09 20:50] andygup commented on #59
You'll need to remote debug your app. Do you see any errors?

Reference: https://developers.google.com/web/tools/chrome-devtools/remote-debugging/

[2018-02-24 00:07] andygup commented on #59
Closing out. Feel free to reopen.

[2018-02-24 00:07] #59 closed

[2018-03-25 20:01] soganideepak opened #60 "Location Radius"
Hello
i am unable to find how i can set the geo radius to get my nearest location. right now when i enabled location and lanuch the google map using provided lat long (getting from the plugin), the distance approx. 500 meters from my current location.
But when i run second time it give exact location.
Please let me know where i do the changes.

Thanks

[2018-03-26 15:37] andygup commented on #60
What you are seeing is normal location variation from the phone GPS and it is not related to this library. GPS is very inaccurate when it is first activated. The only way to minimize this is to set `buffer` in the configuration options and let the GPS gather multiple locations for some period of time.

[2018-04-05 18:46] andygup commented on #60
Closing this out...if something else comes up feel free to reopen.

[2018-04-05 18:46] #60 closed

[2018-04-16 11:48] RameshkrishnanV commented on #36
i'm also facing this issue, my app is crashing only in android 8.... do u know how to fix this issue @andygup

[2018-04-16 14:44] andygup commented on #36
@RameshkrishnanV can you provide a logcat dump of the error?

[2018-04-17 11:56] RameshkrishnanV commented on #36
@andygup sorry for the late reply. this is my error log

Fatal Exception: java.lang.RuntimeException: Unable to pause activity {com.mywired.app/com.mywired.app.MainActivity}: java.lang.NullPointerException: Attempt to read from field 'java.lang.Integer android.telephony.PhoneStateListener.mSubId' on a null object reference
       at android.app.ActivityThread.performPauseActivityIfNeeded(ActivityT

[2018-04-18 15:29] andygup commented on #36
@RameshkrishnanV

There are a number of potential causes:
- If the `index.html` is calling the `AdvancedGeolocation.kill()` this can happen
- Or, if `MainActivity` is directly calling `onDestroy()`
- Or, for some reason some other plugin shutdown Cordova first before this plugin could shutdown.
- Or, something else is using the `PhoneStateListener` Class...the error is very strange because this pl

[2018-04-26 06:37] ankitagarwal-ttl commented on #49
Hi,
I am getting same issue:

Please find the logs:

 E/SQLitePlugin: couldn't add to queue
                                                 java.lang.InterruptedException
                                                     at java.util.concurrent.locks.AbstractQueuedSynchronizer.acquireInterruptibly(AbstractQueuedSynchronizer.java:1218)
                                                     at jav

[2018-04-26 06:38] ankitagarwal-ttl commented on #49
Native Sqlite plugin stops working after using advance geo location.

Please help me to solve this issue.

[2018-04-26 17:11] Dan890 opened #61 "NullPointerException on CellLocationController.stopLocation on Android 8.1"
java.lang.RuntimeException:
  at android.app.ActivityThread.performPauseActivityIfNeeded (ActivityThread.java:3912)
  at android.app.ActivityThread.performPauseActivity (ActivityThread.java:3878)
  at android.app.ActivityThread.performPauseActivity (ActivityThread.java:3852)
  at android.app.ActivityThread.handlePauseActivity (ActivityThread.java:3826)
  at android.app.ActivityThread.-wrap15 (Unkn

[2018-04-26 17:15] andygup commented on #49
@ankitagarwal-ttl Thanks for the call stack info. There isn't an easy fix for this issue.

The error message above shows an issue with `ConcurrentHashMap` in SQLitePlugin.java. This type of map is synchronized and allows for thread-safe read concurrency. But, apparently something is going wrong and the error isn't being handled correctly. At a glance I don't see any implementation of `Runnable` in

[2018-04-26 17:37] andygup commented on #61
@Dan890 I have some questions:
* Which Android phone & OS version?
* Does it happen consistently?

Seems like it could be a bug in this code here since the listener was already set to none: https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/controllers/CellLocationController.java#L142

[2018-04-26 18:02] Dan890 commented on #61
@andygup
i see it in the google paly logs,
from what i see it happen consistntly, all the users with Android 8.1 get this exception.

[2018-04-26 18:07] andygup commented on #61
Can you try commenting out this line, recompile then test?

https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/controllers/CellLocationController.java#L142

Example:

[code]

[2018-04-28 00:02] andygup opened #62 "Internal plugin updates"
There have been some changes to how cordova implements plugins. This will only affect people who work on the plugin, `plugin.xml` and `config.xml`.

**This shouldn't affect anyone currently using this plugin via Cordova.**

https://cordova.apache.org/announcements/2017/12/04/cordova-android-7.0.0.html
https://developer.android.com/about/versions/nougat/android-7.0-changes

[2018-04-29 21:53] Dan890 commented on #61
seems that this fix the problem.
Thanks!!!

[2018-04-30 14:46] andygup commented on #61
Good deal! I'll leave this open as an enhancement. I suspect there were some tweaks in how the OS life-cycle works.

[2018-04-30 14:56] andygup commented on #36
@RameshkrishnanV you might try the suggestion in this issue: https://github.com/Esri/cordova-plugin-advanced-geolocation/issues/61. It took a little while to figure the issue out.

[2018-05-03 13:05] dorianrod commented on #36
Hi, thanks a lot @andygup. I had the same issue (nexus 5X, android 8.1) and #61 seems ok to resolve this issue.
Any idea of the impact of commenting the suggested lines? Do you think it could lead to a battery that would discharge faster ?

[2018-05-03 15:15] andygup commented on #36
@dorianrod I leaning towards saying this will not affect battery life since the `TelephonyManager` seems to have shut down. IMHO it look like an Android bug where if you set `PhoneStateListener.LISTEN_NONE` on any listener then `TelephonyManager` fully shuts down.

[2018-05-03 15:55] andygup commented on #61
Conceptual code for a possible fix:

[code]

[2018-05-15 22:37] #61 closed

[2018-05-15 23:06] andygup commented on #14
Update: there is new info about phones having the high-accuracy Broadcom chipset will be available later this year. Here's the [article](https://www.nextbigfuture.com/2018/04/high-end-smartphones-later-in-2018-should-use-broadcom-chip-enables-centimeter-accurate-gps.html) that mentions the Samsung Galaxy Note 9 and the Google Pixel 3 as being potential recipients.

[2018-06-25 13:17] spinella1anthony opened #64 "is-it possible to use advanced-geolocation plugin in the background"
hello everyone,

Is-it possible to use this plugin in the backgroud?

Thanks in advance

[2018-06-25 14:42] andygup commented on #64
This plugin isn't designed to run in the background. Because of its potential to consume large amounts of memory and CPU cycles it will only provide locations, by default, while the application is in the foreground and active.

[2018-06-26 07:22] spinella1anthony commented on #64
Thanks for your answer.
Is there an other way to obtain SatelliteData in background?

[2018-06-26 15:12] andygup commented on #64
If you want you can make a copy or fork this repo and customize the functionality for the `onStop` and `onPause` listeners: https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/AdvancedGeolocation.java#L431-L439

[2018-06-30 16:38] Marcophono2 opened #65 "Need cellinfo while location position is disabled"
Hello!
I read in an older thread that a disabled location positioning by the user also disables access to the network informations for security reasons. My question: Does that also include the cellid information? Out of the box your great plugin does not provide the cellid as soon as I disable the location service (Android 8.1) but may be there are certain settings in the plugin code which could s

[2018-07-02 15:07] andygup commented on #65
@Marcophono2 Yes, this plugin still maintains a security check to verify if the [`NETWORK_PROVIDER`](https://developer.android.com/reference/android/location/LocationManager.html#NETWORK_PROVIDER) is enabled in [`LocationManager`](https://developer.android.com/reference/android/location/LocationManager#isProviderEnabled(java.lang.String)). You can find that boolean check here at [advancedGeolocati

[2018-07-02 15:07] andygup commented on #64
Closing, feel free to reopen if necessary.

[2018-07-02 15:07] #64 closed

[2018-07-02 15:34] Marcophono2 commented on #65
Thank you, Andy!

[2018-07-02 15:34] #65 closed

[2018-07-18 17:32] andygup commented on #14
This was passed along to me, it's an article on dual frequency GNSS support for Android: https://medium.com/@sjbarbeau/dual-frequency-gnss-on-android-devices-152b8826e1c

[2018-09-19 21:10] JCKodel opened #66 "NullPointerException while trying the docs sample"
Only by using the plugin, right after the permission dialog popups and I allow the use of GPS:
[code]

[2018-09-19 22:25] JCKodel opened #67 "Only works in high accuracy mode?"
On Android 5.1, when I disable the 📍 Location icon and re-enable, this dialog is displayed:

![image](https://user-images.githubusercontent.com/379339/45785120-8aa89400-bc41-11e8-89fd-e537d30d3b79.png)

If I hit *Agree*, everything works fine. If I hit *Disagree*, error 100 (GPS and Network are disabled)

[2018-09-20 15:43] andygup commented on #67
If you `Disagree` can you enable the location permissions directly within the application? I think that's how Android 5.1 works...it's been a long time since I've used that version.

[2018-09-20 15:50] JCKodel commented on #67
Now it gives me a 140: Network provider is not available.

I'm requesting "all" providers. *Disagree* means only GPS, AFAIK, thus, with network "disagreed", the error 140 is issued (although I have GPS because Location is on).

Where those errors come from? Android or plugin's code?

I'm only interest in a coordinate. I don't really care where it come from (that's what accuracy property stands for

[2018-09-20 15:51] andygup commented on #66
That error says the `providers` argument wasn't set in the `start()` method. Double check and make sure you initialized all the start options:

[code]

[2018-09-20 15:59] andygup commented on #67
That error is from the plugin, it's telling you can't request data from `all` Android Location providers and then not have a network available.

Have you tried using just `"providers": "gps"`?

Here's the doc that explains the different options: https://github.com/Esri/cordova-plugin-advanced-geolocation#use-cases

[2018-09-20 16:02] JCKodel commented on #67
More on that:

My settings are for ```providers: "some"``` (I was hoping that `some` means, give me something, please please please)

With Location off, it gives me a 140 (Network location requested but the provider is not available. Check system Location settings). Sometimes it gives me a 120 (but only sometimes)

With location on and I disagree to use network to improve my location, it gives me

[2018-09-20 16:03] andygup commented on #22
What version of android? Check logcat and let me know if you are getting errors?

[2018-09-20 16:26] JCKodel commented on #67
```"providers": "gps"``` works fine. (including caching the position - after the first result, I can disable location and still get a cached position).

I would just recommend to change the behavior of ```"providers": "some"``` to get all the providers that you can and, if more than one, decide wich by ```accuracy```.

So, in case anyone having the same problem: use "gps" and be happy =P

[2018-09-20 16:33] andygup commented on #67
Glad it worked. Good suggestion. I'm not planning on making any changes to this plugin in the near-term, however I always welcome pull requests 😉! I'll leave this issue open as an enhancement request.

[2018-09-21 22:13] andygup commented on #14
Phones running the high accuracy Broadcom BCM47755 chip are starting to become available.

Here's one example: https://www.mi.com/en/mi8/ and https://www.gsa.europa.eu/newsroom/news/world-s-first-dual-frequency-gnss-smartphone-hits-market

[2018-09-25 08:49] aacassandra commented on #22
this is from chrome console:
`Error JSON: "{\"provider\":\"gps\",\"error\":\"120\",\"msg\":\"GPS location requested but GPS is not available. Check system Location settings\"}"`

`VM198:407 Error no.: 120, Message: GPS location requested but GPS is not available. Check system Location settings, Provider: gps`

sorry for my bad english and for my late response.

From my point of view, I see a repet

[2018-09-25 15:43] andygup commented on #66
I'm going to go ahead and close this issue for now. Feel free to reopen.

[2018-09-25 15:43] #66 closed

[2018-09-25 15:48] andygup commented on #22
@aacassandra What version of Android? Can you send a code sample of what you are trying to do?

[2018-09-25 16:50] aacassandra commented on #22
im using cordova android@6.4.0 and my device is android 7.1.1

[code]

[2018-09-27 14:41] andygup commented on #22
The good news is what you are seeing is not a thread exception error. There are several other possibilities:
- Verify that this isn't a browser issue. Try using the `basicgps` sample app here and see if you can reproduce the issue: https://github.com/Esri/quickstart-map-phonegap.
- Install Android Studio and run logcat to see if there are any native code issues. Native code errors will not be disp

[2018-10-26 05:50] junbonglee commented on #49
Did anyone find solution to this problem? We can't use cordova-advanced-geolocation and ionic native storage at same time. Stuck in the middle of nowhere.

[2018-10-30 01:46] junbonglee commented on #49
I'm having same issue when trying to use cordova-plugin-advanced-geolocation and ionic-storage(if it tryse to use sqlite-driver). Is there any update on this error? I'd really like to use advanced-geolocation but it's even harder to give up sqlite.

[2018-11-29 08:58] junbonglee opened #68 "ANR issue onDestroy?"
![2018-11-29 17 51 00](https://user-images.githubusercontent.com/10484267/49210183-cd37db00-f3ff-11e8-860a-2273b53a0f62.png)
![2018-11-29 19 49 06](https://user-images.githubusercontent.com/10484267/49217036-dc268980-f40f-11e8-8669-6c3c431d36a1.png)

Thank you for the great plugin. I'm having an ANR issue, and the image is screenshot of related ANR from Google Play Console.

I think it's shutdownA

[2018-11-29 16:15] andygup commented on #68
@junbonglee I'd say go ahead and comment it out and test it. Reference: https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/src/com/esri/cordova/geolocation/AdvancedGeolocation.java#L446

The general reason that's code is in there is because of multiple issues where Cordova's shutdown code didn't work properly and probably still doesn't handle internal thread pooling very well.

[2018-12-10 13:40] mprins opened #69 "version in plugin.xml is wrong"
While the current release is 1.6.2 the version in the `plugin.xml` still says 1.1.0

https://github.com/Esri/cordova-plugin-advanced-geolocation/blob/master/plugin.xml#L6

[2018-12-10 16:04] andygup commented on #69
Thanks for the heads-up, just updated.

[2018-12-10 16:04] #69 closed

[2019-01-04 13:40] carliblaz opened #71 "iOS version"
Hey, is there a chance to port this to iOS, I have working Android app and would like to build iOS app, and there this problem :D

[2019-01-04 13:41] carliblaz commented on #71
Eh sorry just saw FAQ!

[2019-01-04 13:41] #71 closed, assigned to nobody

[2019-03-15 15:53] andygup commented on #68
I'm closing this out, if something else comes up feel free to ping me.

[2019-03-15 15:53] #68 closed

[2019-03-28 07:26] carliblaz opened #72 "Old location data provided"
Hey, I have this strange behavior on Android, if start location stream result - I check if there is GPS location and then I stop the stream. There is this strange pattern in 3 of 4 requests I get old GPS data.

For example:
1 request - old data
2 request - old data
3 request - new data
4 request - old data

Did I miss any settings or what could be wrong?

[2019-03-28 14:22] andygup commented on #72
What is your configuration `providers` property set to? Reference: https://github.com/Esri/cordova-plugin-advanced-geolocation#use-cases

How are you determining the gps data is old or new? Can you provide an example?

[2019-03-28 16:02] carliblaz commented on #72
How? By coordinates :)

I'm doing some tests with this cache option.

[2019-03-28 16:09] andygup commented on #72
What is your configuration for the providers property in this library?

What make and model of phone?

[2019-04-08 15:44] dslima90 commented on #72
I am experiencing the same issue. A few of the people who installed an app i deployed are reporting this issue... In my cellphone, where i tested, it works ok, though. @carliblaz, how are your tests going?

[2019-04-08 18:59] andygup commented on #72
I'll need **all** the following information to help with troubleshooting:

- the providers property configuration for this library? For example:

[code]

- Make/model and Android version of phone(s) experiencing the issue
- A console dump of the jsonObjects in the `AdvancedGeolocation.start()` callback that demonstrates the issue

[2019-04-08 19:25] carliblaz commented on #72
Well cache is there for returning cached location results, that was my problem.

[2019-04-08 20:03] dslima90 commented on #72
Yes, my problem was that sometimes i was receiving the cached location from GPS AFTER i received a new location from NETWORK, and i didn't notice that this was the issue... I guess that was a problem on my side, i just have to filter the results i get using provided timestamps... Sorry for taking your time...

[2019-04-08 20:08] #72 closed, assigned to nobody

[2019-07-18 20:55] BossAustralia commented on #59
Hello,

I have the same problem, the freeze, but I don't receive any error in the console.

[2019-07-18 20:56] JoelDoitlean commented on #59
Hello,

I have the same problem, the app freeze, but I don't receive any error in the console.

[2019-07-18 23:43] alejox21 commented on #59
Hello, sorry, but at the end i changed to another plugin. Looking at my code above now, maybe the attributes configuration was not configured properly and the method stopTime() it was not well written by me, then time does not stop

[2019-07-19 16:12] andygup commented on #59
If you don't have any browser console errors you will need to debug the phone using logcat and look for device errors coming from the Android operating system. This may or may not be related to incorrect thread pooling design in the Cordova bridge.

I'm not able reproduce and without additional information or error messages I can't figure it out.

[2020-03-20 14:14] atiato opened #73 "Network as provider while mocking using an application"
Hello ,
We are facing issue while getting geolocation using network as provider if mock on android device is enabled.
following screen shots while doing that
mocking is disabled and same location is used.
![WhatsApp Image 2020-03-19 at 10 41 41 PM](https://user-images.githubusercontent.com/652472/77171781-a22a3c80-6ac5-11ea-862d-42a8b63e9210.jpeg)
mocking is enabled here.
![WhatsApp Image 2020-03-

[2020-03-20 15:15] andygup commented on #73
Hi Omar, I'm not sure I understand the issue you are having? You can always reject non-mock locations by verifying where they come from: https://developer.android.com/reference/android/location/Location#isFromMockProvider().

Android devices will send network and gps location information unless those providers have been disabled by the user, operating system, or thru code.

[2020-03-21 15:24] atiato opened #74 "neighbouring cells by provider cell"
Hello ,

I'm trying to get neighbouring cells but unable to do so , I'm getting only cid that I'm connected to !

Do you have any configuration to help me to get these neigboring cells in order to geolocate the device using opencellID API with more accuracy .

thanks,
Omar Atia

[2020-03-23 15:56] andygup commented on #74
Hi Omar, I don't have any suggestions, I haven't used that API in quite a while. Maybe try https://android.stackexchange.com/?

[2020-05-01 14:31] andygup commented on #73
Closing.

[2020-05-01 14:31] #73 closed, assigned to nobody

[2020-05-01 14:32] andygup commented on #74
Closing.

[2020-05-01 14:32] #74 closed, assigned to nobody

[2022-08-01 09:19] AppDeveloperDotCom opened #76 "sqlite not working"
Hi,
Thanks alot to you for building such a plugin.
Currently I'm Using it along with Ionic 6 framework for hybrid application built on cordova and angular
My problem is that the moment I call for start method ....I do get the co-ordinates but other plugins stop working like for example Sqlite plugin of cordova.
Like I 'm using your plugin and sqlite plugin on device ready, but after start method m

[2022-08-01 18:36] andygup commented on #76
Hi @AppDeveloperDotCom just a heads-up, I last updated this repo about 4 years ago. With regards to that error, if I remember correctly there was a Cordova threadpool design issue in Sqlite that they had no plans on fixing. I don't remember all the specifics but Sqlite used a very primitive threading implementation at the time. In order to work around that bug, I would have had to completely break